@media only screen and (orientation : landscape) {
    body {
        -webkit-transform: scale(1);
        background: #efefef;
    }
}
body
{
	background: #efefef;

}

.untreated
    {
        fill:#BBB;
    }
.treated
    {
        fill:#888;
    }	
.living
	{
		fill:#999999;
	}
.dead
	{
		fill:red;
	}
.saved
	{
		fill:green;
	}
.light
	{
		fill:#DDD;
		stroke:#BBB;
	}
.legend
{
	font-size:120%;
}
	
	
.container
{
	
	
	padding:20px 5px;
}
	.container .slider
	{
		margin-top: 20px;
		width: 300px;
	}
	.container .head40
	{
		
		width:80px;
	}

.magicapp
{
	padding: 20px 0; 
	float:left;
	width: 800px;
	height: 800px;
}

.str2
{
	background: #73ab79;
}
.str1
{
    background: #e0c045;
}

h3 {
	font-size:120%;
}

.large{
	font-size:200%;
}

.info{
	color:#444;
	font-size:80%;
}

#graphpathMort{ 
    stroke: red; stroke-width: 2; fill: none; 
    } 
#mortRate{
	color:red;
}
#graphpathMorb{ 
    stroke: steelblue; stroke-width: 2; fill: none; 
    } 
#morbRate{
	color:steelblue;
}
#graphpathRecur{ 
    stroke: brown; stroke-width: 2; fill: none; 
    } 
#recurRate{
	color: brown;
}

.graphline{ 
    stroke: black; 
    }
    
.xTicks{ 
    stroke: black; 
    }

.yTicks{ 
    stroke: black; 
    }

#graph{
	vertical-align: top;
}

nav.tabs
{
	height: 42px;
	border-bottom: 1px solid #bbb;
}
	nav.tabs a
	{
		display: block;
		float: left;
		padding: 10px 20px;
		border-width: 1px 1px 0 0;
		border-style: solid;
		border-color: #bbb;
	}
		nav.tabs a:first-of-type
		{
			border-width: 1px 1px 0 1px;
			background: #fff;
		}